version: '3.8'

services:
  app:
    image: app:latest
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:80"
    container_name: easyfunds-frontend
    restart: unless-stopped