# IDE и редакторы
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

# Временные файлы редакторов
*.swp
*~

frontend/node_modules/
# Бинарные файлы
*.exe
*.out
/bin/

# Зависимости
vendor/

# Секреты и конфиги
.env
.env.local
config.yaml
secrets/

# Docker и Makefile
.dockerignore
Dockerfile*
.docker/
Makefile.local

# OS файлы
.DS_Store
Thumbs.db

# Локальные данные
loki-data/
minio-data/
