name: Build & Deploy

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'
      - '.github/workflows/deploy-back.yml'

env:
  DEPLOY_PATH: /home/easyfund/backend
  SERVER_DOMAIN: 147.45.147.73
  SERVER_USER: root

jobs:
  # lint:
  #   name: Lint with golangci-lint
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       working-directory: ./backend 
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Setup Go
  #       uses: actions/setup-go@v5
  #       with:
  #         go-version: '1.25'

  #     - name: Cache Go modules
  #       uses: actions/cache@v4
  #       with:
  #         path: ~/go/pkg/mod
  #         key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }} 
  #         restore-keys: |
  #           ${{ runner.os }}-go-

  #     - name: Download Go dependencies
  #       run: |
  #         go mod tidy
  #         go mod download

  #     - name: Build code
  #       run: go build ./...
        
  #     - name: Install golangci-lint
  #       run: |
  #         curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.60.1

  #     - name: Cache golangci-lint
  #       uses: actions/cache@v4
  #       with:
  #         path: ~/.cache/golangci-lint
  #         key: ${{ runner.os }}-golangci-lint-v1.60.1
    
  #     - name: Run golangci-lint
  #       run: golangci-lint run --timeout=5m --verbose

  # НАШ ДЕВИЗ КРИВОЙ КОД НО РАБОТАЕТ, ДОЛОЙ ЛИНТЕРЫ

  build_backend:
    runs-on: ubuntu-latest
    # needs: lint
    steps:
      - uses: actions/checkout@v3

      # Установка Docker Buildx и логин в Docker Hub
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # Создание .env из base64-секрета
      - name: Create .env file
        run: |
          echo "${{ secrets.ENV_FILE_BASE64 }}" | base64 --decode > .env.prod

      # Сборка Docker-образа
      - name: Build Docker image
        run: docker compose -f backend/docker-compose.prod.yml --env-file=.env.prod build

      # Сохранение Docker-образа в tar-файл
      - name: Save Docker image
        run: docker save -o image.tar app:latest

      # Настройка SSH
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY_BASE64 }}" | base64 --decode > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ env.SERVER_DOMAIN }} >> ~/.ssh/known_hosts

      # Создание директории на сервере
      - name: Create remote directory
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ env.SERVER_USER }}@${{ env.SERVER_DOMAIN }} \
            "mkdir -p ${{ env.DEPLOY_PATH }}"

      # Установка rsync
      - name: Install rsync
        run: sudo apt-get update && sudo apt-get install -y rsync

      # Синхронизация файлов
      - name: Sync files to server
        run: |
          rsync -avz --delete \
            --exclude='.git/' \
            --exclude='frontend/' \
            --exclude='node_modules/' \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./ \
            ${{ env.SERVER_USER }}@${{ env.SERVER_DOMAIN }}:${{ env.DEPLOY_PATH }}/

      # Запуск контейнеров на сервере
      - name: Load Docker image and start containers
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ env.SERVER_USER }}@${{ env.SERVER_DOMAIN }} -p 22 "
            if ! command -v docker &> /dev/null; then
              echo 'Docker is not installed!'
              exit 1
            fi
            cd $DEPLOY_PATH
            ls
            docker load -i image.tar || { echo 'Failed to load Docker image'; exit 1; }
            docker compose -f backend/docker-compose.prod.yml --env-file=.env.prod up -d --force-recreate || { echo 'Failed to start containers'; exit 1; }
            echo 'Deployed!'
          "

      - name: Post-deploy cleanup
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ env.SERVER_USER }}@${{ env.SERVER_DOMAIN }} "
            docker system prune -a -f      # Удаляем оставшийся мусор
            rm -f image.tar
          "